src/
tests/
doc/
debian/
presets/
completions/
scripts/gen-man.py
scripts/gen-pciids.py
scripts/gen-amdgpuids.py
.clang-format
.clang-format-ignore
.codespellrc
.editorconfig
.gitattributes
.gitignore
.github/
screenshots/
CMakeLists.txt
run.sh
*.md
CHANGELOG.md
