Source: autofetch
Section: universe/utils
Priority: optional
Maintainer: Ash Luigi <ash-luigi@users.noreply.github.com>
Build-Depends: libelf-dev, libvulkan-dev, libwayland-dev, libxrandr-dev, libxcb-randr0-dev, libdconf-dev, libdbus-1-dev, libmagickcore-dev, libsqlite3-dev, librpm-dev, libegl-dev, libglx-dev, ocl-icd-opencl-dev, libpulse-dev, libdrm-dev, libddcutil-dev, libchafa-dev, libefl-all-dev, pkgconf, cmake (>= 3.12), debhelper (>= 11.2), dh-cmake, dh-cmake-compat (= 1), dh-sequence-cmake, dh-sequence-ctest, ninja-build, python3-setuptools
Standards-Version: 4.0.0
Homepage: https://github.com/ash-luigi/autofetch

Package: autofetch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Autofetch is a system information fetching tool with automatic logo detection and text art generation.
 Forked from fastfetch with enhanced automatic logo detection.
